@import "tailwindcss";

.article {
    @apply grid grid-cols-1 gap-4;
    h2, h3, h4, h5, h6, p, eyebrow {
        max-width: 600px;
    }
    h2 {
        font-size: 2.027rem;
    }
    h3{
        @apply pt-12;
        font-size: 1.802rem;
    }
    h4{
        @apply pt-12;
        font-size: 1.602rem;
    }
    h5{
        @apply pt-10;
        font-size: 1.424rem;
    }
    h6{
        @apply pt-10;
        font-size: 1.266rem;
    }
    .eyebrow {
        font-size: 0.889rem;
    }
}